body{
    background: #ffe259;
    background: linear-gradient(to right,#ffa751,#ffe259);
    }

.titulo{
    background-color: rgb(35, 34, 34);
}
#gmaps
{
    width: 100%;
    height: 500px;
    border: 0;  
}

.mainlog{
    background: #ffe259;
    background: linear-gradient(to right,#ffa751,#ffe259);
}

.img-fluid{
    width: 600px;

}